{% extends "layout.twig" %}
{% block title %}
	<title>Thêm vài viết</title>
{% endblock %}
{% block content %}
	<main class="container mt-5 mb-5">
		<div class="row">
			<div class="col-sm">
				<h3 class="text-center text-uppercase fw-bold">Thêm thông tin bài viết</h3>
				<form
					action="" method="post">
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblCatId">Tiêu đề</span>
						<input type="text" class="form-control" name="tieude" value="">
					</div>
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblCatId">Tên bài hát</span>
						<input type="text" class="form-control" name="ten_bhat" value="">
					</div>
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblCatId">Mã thể loại</span>
						<select class="form-select" aria-label="Default select example" name="ma_tloai">
							{% for category in getAllCategory %}
								<option value="{{category['ma_tloai']}}">{{category['ma_tloai']}}-{{category['ten_tloai']}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblCatId">Tóm tắt</span>
						<textarea type="text" class="form-control" name="tomtat"></textarea>
					</div>
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblCatId">Nội dung</span>
						<textarea type="text" class="form-control" name="noidung"></textarea>
					</div>
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblCatId">Mã tác giả</span>
						<select class="form-select" aria-label="Default select example" name="ma_tgia">
                            {% for author in getAllAuthor %}
                                <option value="{{author['ma_tgia']}}">{{author['ma_tgia']}}-{{author['ten_tgia']}}</option>
                            {% endfor %}
						</select>
					</div>
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblCatName">Ngày viết</span>
						<input type="datetime-local" class="form-control" name="ngayviet" value="">
					</div>
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblCatName">Hình ảnh</span>
						<input type="file" class="form-control" name="hinhanh" value="">
					</div>
					<div class="form-group  float-end ">
						<input type="submit" value="Lưu lại" class="btn btn-success" name = "add">
						<a href="category.php" class="btn btn-warning ">Quay lại</a>
					</div>
				</form>
			</div>
		</div>
	</main>
{% endblock %}
